@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-light: #ffffff;
  --color-dark: #171717;

  /* Custom colors from SCSS */
  --color-primary-text: hsl(240, 89%, 70%);
  --color-primary-shadow-focused: hsl(240, 83%, 65%);
  --color-primary-shadow: hsl(240, 100%, 79%);
  --color-destructive-text: hsl(0, 75%, 58%);
  --color-destructive-shadow: hsl(0, 100%, 77%);
  --color-black: hsl(0, 0%, 0%);
  --color-text: hsla(0, 0%, 0%, 0.87);
  --color-secondary-text: var(--color-neutral-400);
  --color-divider: var(--color-blue-200);
  --color-background-hover: var(--color-gray-100);
  --color-background-focus: var(--color-gray-200);
  --color-outline-focus: hsl(0, 0%, 50%);
  --color-background-active: hsla(240, 84%, 76%, 0.19);
  --color-border: hsl(0, 0%, 44%);

  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: system-ui, sans-serif;
  }

  /* Dark mode color overrides */
  :root {
    --color-primary-text: hsl(240, 38.27%, 63.55%);
    --color-primary-shadow-focused: rgb(70, 70, 177);
    --color-primary-shadow: hsl(240, 24%, 43%);
    --color-destructive-text: hsl(0, 87%, 70%);
    --color-destructive-shadow: hsl(0, 100%, 60%);
    --color-secondary-text: var(--color-neutral-500);
    --color-text: hsla(0, 0%, 96%, 0.87);
    --color-divider: hsla(240, 15%, 40%, 0.2);
    --color-background-hover: var(--color-neutral-800);
    --color-background-active: hsla(240, 28%, 25%, 0.19);
    --color-border: hsl(0, 0%, 29%);
    --color-memorize-background: hsl(141, 25%, 31%);
    --color-memorize-hint-background: hsl(105, 25%, 31%);

    /* from AI stuff */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --ring: oklch(0.556 0 0);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: system-ui, sans-serif;
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
